html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.container {
    max-width: 960px;
}

.pricing-header {
    max-width: 700px;
}

.card-deck .card {
    min-width: 220px;
}
.card-img-top {
    width: 100%;
    max-height: 150px;
    object-fit: cover;
}

.form-group {
margin: 10px;
}
.card-img-top {
    /*height: 11vw;*/
    object-fit: cover;
}

#alpha-page {
    display: flex;
    justify-content: center;
}
